.circle {
    height: 320px;
    width: 337px;
    position: absolute;
    bottom: 20%;
    right: 34.3%;
    stroke-width: 20px;
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);

    stroke-dasharray: 565px;
    stroke-dashoffset: 565px;
    animation: progress 1s linear forwards;
}

@keyframes progress {
    100% {
        stroke-dashoffset: 0;
    }
 }